#tongcong{
    background-color: black;
}
.header{
    background-color: dimgrey;
    width: 100%;
    color:white;
    font-size: 40px
    
}
.buy{
    background-color: chartreuse;
    width: 80px;
    height: 50px;
    color: white;
 
}
.remove{
    color: aliceblue;

    
}
.banner{
    height: 300px ;
}
#kentha{ 
    text-align:center;
    text-transform: uppercase;
    font-size: 20px;
    
}
.noidung{
    text-align: center;
    margin:auto;
    width: 100%;
    
    
}
.clear{
    display: block;
    clear: both;
}
.noidung1{
    float: left;
    
}
.noidung2{
    float: left;
}
.noidung3{
    float: left;
  
}
.noidung4{
    float: left;
    clear: both;
}
.noidung5{
    float: left;
}.noidung6{
    float: left;
}
.footer{
    width: 100%;
    height: 300px;
   
}
