/* body{
    font-family: Tahoma;
    font-size: 13px;
    width: 100px;
    margin: 0px auto;
}
#menu_top{
    background: black;
    height: 40px;
}
#banner{
    background: red;
    height: 280px;
    width: 1000px;

}
#main #left{
    width: 800px;
    background: antiquewhite;
    float: left;
    min-height:400px;
}
#main #right{
    width: 200px;
    background: blue;
    float: left;
    min-height:400px;
} */
body{
    width: 1300px;
    height: 1000px;
    background-color: antiquewhite;
    margin: auto;
}
#menu_top{
    width: 100%;
    height: 100px;
    background-color: red;
}
#icon1{
    width: 200px;
    height: 100px;
    float: left;
}
#timkiem{
    width: 400px;
    height: 80px;
    border: 1px black;
    margin-left: 300px;
    background-color: black;
    color: azure;
    margin-top: 10px

}
#main{
    width: 100%;
    height: 1000px;
    background-color: antiquewhite;
}
#left{
    width: 70%;
    height: 900;
    float: left;

}
#video{
    width: 100%;
    height: 500px;
    background-color: aqua;

}
#anh{
    width: 600px;
    height: 500px;

}
#xuatban{
    width: 100%;
    height: 100px;
    background-color: green;

}
#binhluan{
    width: 100%;
    height: 400px;
    background-color: greenyellow;
}
#icon{
    width: 10%;
    height: 50px;

}
#right{
    width: 30%;
    height: 900px;
    float: left;
    
}
#tieptheo{
    width: 100%;
    height: 200px;
    background-color: yellow;

}
#anh2{
    width: 30%;
    height: 200px;
}
#mota{
    width: 70%;
    height: 200px;
    text-align: left;
 float:right;
}
#goiy{
    width: 100%;
    height: 800px;
    background-color: burlywood;
}
p{
   display: flex;
}
#benphai{
    width: 100%;

}
#mota1{
    width: 90%;
    text-align: left;
    float:right;
}
#dk{

    text-align: right;
    border: 1px yellow;
    width: 100px;
    height: 50px;
    background-color: brown;
    

}
